<div class="displayPrincipal" style="display: flex; background-color: #e3eaee">
  <app-nav-rail-coordenador-orientador></app-nav-rail-coordenador-orientador>
  <div class="conteudo">
    <div>
      <h1 style="color: Black; font-size: 3rem">Cadastrar Novo Usuário</h1>
      <div style="display: flex">
        <button
          type="button"
          class="btn btn-primary"
          (click)="cadastrarPessoaAbrir()"
        >
          <i class="bi bi-person-plus"></i>
          Adicionar novo usuário
        </button>
        <button
          type="button"
          class="btn btn-info"
          style="margin-left: 1vh; color: white"
          (click)="buscarPorFiltroAbrir()"
        >
          <i class="bi bi-search"></i>
          Pesquisar por filtros
        </button>
      </div>

      <div class="modal-custom" *ngIf="telaCadastro">
        <div class="modal-content-custom">
          <h3>Cadastro de Pessoa</h3>
          <br />

          <form [formGroup]="form">
            <div class="inputsNomeEmail">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="nome"
                  id="nome"
                  required
                />
                <label for="nome">Nome*</label>
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  id="email"
                  required
                />
                <label for="email">Email*</label>
              </div>
            </div>
          </form>

          <h5>Selecione o cargo</h5>
          <div class="cargo-container">
            <button
              class="cargo-button"
              [class.selecionado]="cargoSelecionado === 'Aluno'"
              [class.turvo]="cargoSelecionado && cargoSelecionado !== 'Aluno'"
              (click)="selecionarCargo('Aluno')"
            >
              Aluno
            </button>

            <button
              class="cargo-button"
              [class.selecionado]="
                cargoSelecionado === 'Orientador' ||
                (cargoSelecionado === 'Coordenador' &&
                  coordenadorAcumula === 'Orientador')
              "
              [class.turvo]="
                cargoSelecionado &&
                cargoSelecionado !== 'Orientador' &&
                !(
                  cargoSelecionado === 'Coordenador' &&
                  coordenadorAcumula === 'Orientador'
                )
              "
              (click)="selecionarCargo('Orientador')"
            >
              Orientador
            </button>

            <button
              class="cargo-button"
              [class.selecionado]="cargoSelecionado === 'Coordenador'"
              [class.turvo]="
                cargoSelecionado && cargoSelecionado !== 'Coordenador'
              "
              (click)="selecionarCargo('Coordenador')"
            >
              Coordenador
            </button>
          </div>
          <small *ngIf="cargoSelecionado === 'Coordenador'">
            <span class="span-coordenador"
              >Se desejar que o Coordenador também exerça a função de
              Orientador, selecione a opção 'Orientador'.</span
            >
          </small>

          <div class="curso-container" *ngIf="cargoSelecionado === 'Aluno'">
            <h5>Curso</h5>

            <div class="cursoContainer">
              <button
                class="curso-button"
                [class.selecionado]="cursoSelecionado === 'BCC'"
                (click)="selecionarCurso('BCC')"
              >
                Ciências da Computação
              </button>

              <button
                class="curso-button"
                [class.selecionado]="cursoSelecionado === 'SIS'"
                (click)="selecionarCurso('SIS')"
              >
                Sistemas da Informação
              </button>
            </div>
          </div>

          <div class="dropdowns">
            <div
              class="dropdown-container"
              *ngIf="cargoSelecionado === 'Aluno'"
            >
              <label for="select">Escolha uma Turma</label>
              <div class="dropdown-wrapper dropdown-turma">
                <select id="select">
                  <option></option>
                  <option value="1">Turma 1</option>
                  <option value="2">Turma 2</option>
                  <option value="3">Turma 3</option>
                </select>
                <span class="dropdown-arrow"></span>
              </div>
            </div>

            <div
              class="dropdown-container"
              *ngIf="cargoSelecionado === 'Aluno'"
            >
              <label for="select">Escolha um Orientador</label>
              <div class="dropdown-wrapper dropdown-orientador">
                <select id="select">
                  <option></option>
                  <option value="1">Orientador 1</option>
                  <option value="2">Orientador 2</option>
                  <option value="3">Orientador 3</option>
                </select>
                <span class="dropdown-arrow"></span>
              </div>
            </div>
          </div>

          <br />
          <br />

          <div class="modal-buttons">
            <button class="btn btn-secondary" (click)="cadastrarPessoaFechar()">
              Cancelar
            </button>
            <button class="btn btn-primary">Adicionar</button>
          </div>
        </div>
      </div>

      <div class="modal-filtro" *ngIf="telaFiltro">
        <div class="modal-content-filtro">
          <h1 style="color: black">Pesquisar por Filtros</h1>
          <br />
          <br />

          <div class="opcoes-filtro">
            <div class="option-cargo" (click)="selecionarCargoFiltro()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#000000"
              >
                <path
                  d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"
                />
              </svg>
              <h5>Cargo</h5>
            </div>

            <div
              class="option-curso"
              [class.selected]="isSelected"
              (click)="selecionarCursoFiltro()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#000000"
              >
                <path
                  d="M560-564v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-600q-38 0-73 9.5T560-564Zm0 220v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-380q-38 0-73 9t-67 27Zm0-110v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-490q-38 0-73 9.5T560-454ZM260-320q47 0 91.5 10.5T440-278v-394q-41-24-87-36t-93-12q-36 0-71.5 7T120-692v396q35-12 69.5-18t70.5-6Zm260 42q44-21 88.5-31.5T700-320q36 0 70.5 6t69.5 18v-396q-33-14-68.5-21t-71.5-7q-47 0-93 12t-87 36v394Zm-40 118q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q58 0 113.5 15T480-740q51-30 106.5-45T700-800q52 0 102 12t96 36q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59ZM280-494Z"
                />
              </svg>
              <h5>Curso</h5>
            </div>

            <div class="option-turma" (click)="selecionarOpcaoFinalFiltro()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#000000"
              >
                <path
                  d="M0-240v-63q0-43 44-70t116-27q13 0 25 .5t23 2.5q-14 21-21 44t-7 48v65H0Zm240 0v-65q0-32 17.5-58.5T307-410q32-20 76.5-30t96.5-10q53 0 97.5 10t76.5 30q32 20 49 46.5t17 58.5v65H240Zm540 0v-65q0-26-6.5-49T754-397q11-2 22.5-2.5t23.5-.5q72 0 116 26.5t44 70.5v63H780Zm-455-80h311q-10-20-55.5-35T480-370q-55 0-100.5 15T325-320ZM160-440q-33 0-56.5-23.5T80-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T160-440Zm640 0q-33 0-56.5-23.5T720-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T800-440Zm-320-40q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T600-600q0 50-34.5 85T480-480Zm0-80q17 0 28.5-11.5T520-600q0-17-11.5-28.5T480-640q-17 0-28.5 11.5T440-600q0 17 11.5 28.5T480-560Zm1 240Zm-1-280Z"
                />
              </svg>
              <h5>Turma</h5>
            </div>
          </div>

          <div *ngIf="mostrarCargoOpcoesFiltro" class="subopcoes">
            <button (click)="selecionarOpcaoFinalFiltro()">Alunos</button>
            <button (click)="selecionarOpcaoFinalFiltro()">Orientadores</button>
            <button (click)="selecionarOpcaoFinalFiltro()">
              Coordenadores
            </button>
          </div>

          <div *ngIf="mostrarCursoOpcoesFiltro" class="subopcoes">
            <button (click)="selecionarOpcaoFinalFiltro()">
              Sistemas da Informação
            </button>
            <button (click)="selecionarOpcaoFinalFiltro()">
              Ciências da Computação
            </button>
          </div>
        </div>
      </div>

      <div class="card" style="margin-top: 2%; overflow: hidden">
        <table class="table" style="border-radius: 12px">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Cargo</th>
              <th scope="col">Curso</th>
              <th scope="col">Turma</th>
              <th scope="col">Orientador</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rel of relatorios">
              <th scope="row">{{ rel.nome }}</th>
              <td>{{ rel.email }}</td>
              <td>{{ rel.cargo }}</td>
              <td>{{ rel.curso }}</td>
              <td>{{ rel.turma }}</td>
              <td>{{ rel.orientador }}</td>
              <td>{{ rel.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
