html, body {
  height: 100%;
  margin: 0;

}
.furb-img {
  margin-top: 15em;
  height: 3em;
}


.imgIcon {
  height: 2.3em;
  border: 0.15em solid transparent;
  border-radius: 15%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-img-link {
  display: flex;
  align-items: center;
  padding: 0.5em 0.6em;
  gap: 0.6em;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.imgCardapio {
  height: 2em;
  padding: 0.5em 0.6em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.imgCardapio:hover {
  background-color: #1686d6c7;
}

.navRailAluno.expandida .imgCardapio {
  cursor: pointer;
  transition: background-color 0.3s ease;
  // margin-left: 13em;
  position: center;
}

// .imgCardapio:hover {
//   background-color: #B2BEB5;
// }

// .nav-link:hover .imgIcon {
//   background-color: #B2BEB5;
// }


.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5em 0.6em;
  gap: 0.6em;
  transition: background-color 0.3s ease;
}

.navRailAluno.expandida .nav-link:hover {
  background-color: #1686d6c7;
  // border-radius: 60%;
}

.nav-link:hover .imgIcon {
  background-color: #1686d6c7;
  border-radius: 10px;
}

.nav-link:hover .imgIcon,
.nav-link:hover .nav-text {
  filter: brightness(120%);
}

.nav-link.active {
  background-color: #0a3d62;
  border-radius: 5%;
  color: white;
}

.navRailAluno {
  background-color: white;
  padding-top: 2%;
  overflow: hidden;
  transition: width 0.3s ease;
  height: 100vh;
  width: clamp(50px, 10vw, 60px);
}

.navRailAluno.expandida {
  width: clamp(200px, 18vw, 300px);
}

.nav-text {
  margin-left: 4%;
  white-space: nowrap;
  font-weight: 500;
  color: black;
  transition: all 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  margin-bottom: 0.2em;
  opacity: 1;
}

.navRailAluno:not(.expandida) .nav-text {
  opacity: 0;
}

.navRailAluno.expandida .imgIcon {
  background-color: transparent;
}

.navRailAluno.expandida .imgCardapio {
  background-color: transparent;
}

.nav-link.active-link {
  background-color: #1686d6c7;
}

