<div class="displayPrincipal" style="display: flex; background-color: #E3EAEE;">
  <app-nav-rail-aluno></app-nav-rail-aluno>
  <div class="conteudo">
    <div>
      <a><b>Relatorios Parciais</b></a>
      <div style="display: flex">
        <button type="button" class="btn btn-primary">Escrever relatorio</button>
        <button type="button" class="btn btn-primary" style="margin-left: 1vh">Ver relatorio completo</button>
      </div>
      <div class="card" style="margin-top: 2%">
        <table><tr>
          <th>Titulo</th>
          <th>Data de inicio</th>
          <th>Data de termino</th>
          <th>Relatorio de Aluno</th>
          <th>Parecer do Orientador</th>
          <th>Avaliacao do Coordenador</th>
          <th>Status de Aprovacao</th>
        </tr></table>
      </div>
    </div>
  </div>
</div>
