<div class="displayPrincipal">
  <app-nav-rail-aluno></app-nav-rail-aluno>

  <div class="conteudo">
    <div class="conteudo-main">
      <img src="assets/GTFURBlogo.png" class="logo" alt="Logo GTFURB">

      <div class="cards-container">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><b>Relatórios Parciais</b></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis commodo
              ultrices. Morbi pretium arcu risus, sed eleifend mi ultricies vitae. Duis elementum eleifend ipsum, non
              faucibus orci luctus et ultrices posuere cubilia curae; </p>
            <div class="text-end">
              <button type="button" class="btn btn-primary">Acessar</button>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><b>Avisos</b></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis commodo
              ultrices. Morbi pretium arcu risus, sed eleifend mi ultricies vitae. Duis elementum eleifend ipsum, non
              faucibus orci luctus et ultrices posuere cubilia curae; </p>
            <div class="text-end">
              <button type="button" class="btn btn-primary">Acessar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-wrapper">
      <app-footer-gtfurb></app-footer-gtfurb>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
