html, body {
  height: 100%;
  margin: 0;
}

.displayPrincipal {
  display: flex;
  min-height: 100vh;
  background-color: #E3EAEE;
}

.conteudo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.conteudo-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}

// .logo {
//   width: 75%;
//   // max-width: 300px;
// }

.cards-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  flex: 1;
  min-width: 18rem;
  max-width: 22rem;
}

// .footer-wrapper {
//   margin-top: auto;
//   width: 100%;
// }

// app-footer-gtfurb {
//   display: block;
//   width: 100%;
// }

@media (max-width: 768px) {
  .logo {
    max-width: 200px;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}

