<div class="conteudo">
  <img src="assets/GTFURBlogo.png">
  <div class="d-flex justify-content-between gap-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title"><b>Relatórios Parciais</b></h4>
        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at ultrices nunc. Sed
          interdum ut purus quis cursus.
          Sed in interdum elit, sed dignissim elit. Vivamus erat est, ultrices nec volutpat nec, volutpat vel lectus.
          Donec interdum finibus ipsum, vel sodales nibh.
        </p>
        <div style="display: flex; justify-content: flex-end;">
          <button type="button" class="btn btn-primary">Acessar</button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title"><b>Meus TCCs</b></h4>
        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at ultrices nunc. Sed
          interdum ut purus quis cursus.
          Sed in interdum elit, sed dignissim elit. Vivamus erat est, ultrices nec volutpat nec, volutpat vel lectus.
          Donec interdum finibus ipsum, vel sodales nibh.
        </p>
        <div style="display: flex; justify-content: flex-end;">
          <button type="button" class="btn btn-primary">Acessar</button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title"><b>Avisos</b></h4>
        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at ultrices nunc. Sed
          interdum ut purus quis cursus.
          Sed in interdum elit, sed dignissim elit. Vivamus erat est, ultrices nec volutpat nec, volutpat vel lectus.
          Donec interdum finibus ipsum, vel sodales nibh.
        </p>
        <div style="display: flex; justify-content: flex-end;">
          <button type="button" class="btn btn-primary">Acessar</button>
        </div>
      </div>
    </div>
  </div>
