.imgIcon {
  height: 35px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border 0.2 ease;
  cursor: pointer;
}

.imgCardapio {
  height: 25px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

// .imgCardapio:hover {
//   background-color: #B2BEB5;
// }

// .nav-link:hover .imgIcon {
//   background-color: #B2BEB5;
// }

.nav-link:hover  {
  background-color: #B2BEB5;
  border-radius: 10px;
  // padding: 5px 8px;
}

.nav-link.active{
  // border-color: grey;
  background-color: #B2BEB5;
  border-radius: 10px;
}

.navRailOrientador {
  background-color: white;
  // min-width: 100px;
  // width: 75px;
  padding-top: 2rem;
  overflow: hidden;
  transition: width 0.3s ease;
  height: 100vh;
}

.navRailOrientador.expandida {
  max-width: 300px;
}

.nav-text {
  margin-left: 10px;
  white-space: nowrap;
  font-weight: 500;
  color: black;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
