<div class="displayPrincipal" style="display: flex; background-color: #E3EAEE;">
  <div class="navRailAlunos">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Relatórios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Meuc tcc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Avisos</a>
      </li>
    </ul>
  </div>

  <div class="conteudo">
    <router-outlet></router-outlet>
  </div>
</div>
