
 <!-- <div class="displayPrincipal" style="display: flex; background-color: #E3EAEE;"> -->
 <!--  <div class="navRailAlunos"> -->
 <!--    <ul class="nav flex-column"> -->
 <!--      <li class="nav-item"> -->
 <!--        <a class="nav-link active" aria-current="page">Home</a> -->
 <!--      </li> -->
 <!--      <li class="nav-item"> -->
 <!--        <a class="nav-link">Relatórios</a> -->
 <!--      </li> -->
 <!--      <li class="nav-item"> -->
 <!--        <a class="nav-link">Meuc tcc</a> -->
 <!--      </li> -->
 <!--      <li class="nav-item"> -->
 <!--        <a class="nav-link">Avisos</a> -->
 <!--      </li> -->
 <!--    </ul> -->
 <!--  </div> -->

  <!-- <div class="conteudo"> -->
  <!--   <img src="assets/GTFURBlogo.png"> -->
  <!--   <div class="d-flex justify-content-between gap-3"> -->
  <!--     <div class="card" style="width: 18rem;"> -->
  <!--       <div class="card-body"> -->
  <!--         <h4 class="card-title"><b>Relatórios Parciais</b></h4> -->
  <!--         <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
  <!--       </div> -->
  <!--     </div> -->

  <!--     <div class="card" style="width: 18rem;"> -->
  <!--       <div class="card-body"> -->
  <!--         <h4 class="card-title"><b>Meus TCCs</b></h4> -->
  <!--         <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
  <!--       </div> -->
  <!--     </div> -->

  <!--     <div class="card" style="width: 18rem;"> -->
  <!--       <div class="card-body"> -->
  <!--         <h4 class="card-title"><b>Avisos</b></h4> -->
  <!--         <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
<!-- </div> -->

<router-outlet></router-outlet>
