:host {
  display: block;
  height: 100vh;
  background-image: url("https://www.furb.br/_upl/images/multimidia/Fundos%20PPT-01.jpg");
  background-size: cover;
  background-position: center;
}

body {
  margin: 2.5%;
}

.form-group small {
  position: absolute;
  bottom: -1.9em;
  left: 0.5em;
  font-size: 0.85em;
  color: red;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  position: relative;
  background-color: white;
  padding: 5% 7.5%;
  border-radius: 5%;
  width: 95vw;
  max-width: 600px;
  box-shadow: 0 0 2.5% rgba(0, 0, 0, 0.1);
  color: black;
}

.login-logo {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 37.5%;
}

.login-title {
  margin-top: 25%;
  margin-bottom: 7.5%;
  text-align: left;
  font-weight: bold;
  color: #333;
}

.login-button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  border-radius: 10%;
  background-color: rgb(0, 35, 102);
  padding: 0.8em 2em;
  color: white;
  border: none;
  cursor: pointer;
}

.form-group {
  position: relative;
  margin-bottom: 3.5vh;
}

.form-group > label {
  position: absolute;
  bottom: 17%;
  left: 5%;
  padding: 1% 1%;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  pointer-events: none;
  background-color: white;
}

.form-control:focus ~ label,
.form-control:valid ~ label {
  bottom: 80%;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.85);
}

.form-control:focus ~ .lableSenha,
.form-control:valid ~ .lableSenha {
  bottom: 80%;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.85);
}

.form-control {
  width: 100%; 
  padding: 3% 4%;
  font-size: 1em;
  border: 0.15em solid rgba(0, 0, 0, 0.473);
  border-radius: 0.5em;
  background-color: white;
  box-shadow: none;
  outline: none;
}

.form-control:focus {
  border: 0.15em solid black;
}

.esqueceu-senha {
  color: blue;
  font-size: 0.85em;
  text-decoration: none;
  display: inline-block;
  margin-top: 2.5%;
  margin-left: 2%;
}

.esqueceu-senha:hover {
  text-decoration: underline;
  color: darkblue;
}

.senha-group {
  position: relative;

  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
    transition: filter 0.2s ease-in-out;

    svg {
      pointer-events: none;
    }
  }

  .toggle-password:hover {
    filter: drop-shadow(0 0 4px rgba(63, 61, 61, 0.521));
  }
}

.input-wrapper {
  position: relative;
}

.input-wrapper > label {
  position: absolute;
  bottom: 20%;
  left: 5%;
  padding: 0 0.2em;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
  pointer-events: none;
  background-color: white;
}

.input-wrapper > .form-control:focus ~ label,
.input-wrapper > .form-control:valid ~ label {
  bottom: 80%;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.85);
}
