<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<div class="login-container">
  <form class="login-box">
    <img
      src="https://www.furb.br/_upl/files/multimidia/00254_1%20-%20FURB%20-%20Selo%2060%20anos-04.png"
      alt="Logo FURB"
      class="login-logo"
    />

    <h1 class="login-title">Iniciar Sessão</h1>

    <div class="form-group">
      <input type="text" class="form-control" id="usr" required />
      <label for="usr">Email*</label>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" id="password" required />
      <label for="password">Senha*</label>
    </div>

    <button type="submit" class="btn btn-primary login-button">Próximo</button>
  </form>
</div>
