.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logoGTFURB {
  display: block;
  margin: 0 auto;
  max-width: 30%;
  min-width: 25%;
  height: auto;
}

.displayPrincipal {
  display: flex;
  min-width: 1024px;
  max-width: 100vw;
  background-color: #e3eaee;
  flex-wrap: wrap;
  overflow-x: auto;
}

.blocos {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
}

.bloco {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  flex: 1 1 300px;
  max-width: 50%;
}

.card-igual {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conteudo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-top: 5%;
  padding: 2rem;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
  min-width: 25%;
}

.button-card {
  background-color: #008cba;
}

@media (max-width: 768px) {
  .blocos {
    flex-direction: column;
    align-items: center;
  }

  .bloco {
    max-width: 90%;
  }

  .conteudo {
    padding: 1rem;
  }
}
